

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
color: white
}

.fa-2x{
    font-size: 2em;
}

#social-icons {
    margin-top: 18px;
 
}

